{% extends 'base.html' %}

{% block content %}
<h1>Completed Todos</h1>

<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
            {% if todo.important %}
            <strong>
                {% endif %}
                {{ todo.title }}
                {% if todo.important %}
            </strong>
            {% endif %}
            {%if todo.memo %}
            - {{ todo.memo }}
            {{ todo.datecompleted|date:'M j Y H:i' }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>


{% endblock %}