{% extends 'base.html' %}

{% block content %}

<div class="my-auto col-md-8 offset-md-2 text-left py-5">
    <h1>{{ todo.title }}</h1>
    <h5>{{ error }}</h5>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" minlength="6" maxlength="100" class="form-control" required value="{{ todo.title }}" {% if todo.datecompleted %}readonly{% endif %}/>
        </div>
        <div class="form-group">
            <label for="memo">Memo</label>
            <textarea id="memo" name="memo" class="form-control" rows="6" {% if todo.datecompleted %}readonly{% endif %}>{{ todo.memo }}</textarea>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="important" name="important" {% if todo.important %} checked="checked" {% endif %} {% if todo.datecompleted %}onclick="return false;"{% endif %}>
            <label class="form-check-label" for="important">Important</label>
        </div>
        {% if todo.datecompleted is None %}
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-success" onclick="document.completeform.submit()">Complete</button>
        {% endif %}
        <button type="button" class="btn btn-danger" onclick="document.deleteform.submit()">Delete</button>
    </form>
    <form name="completeform" method="POST" action="{% url 'completetodo' todo.id %}" class="d-none">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Complete</button>
    </form>
    <form name="deleteform" method="POST" action="{% url 'deletetodo' todo.id %}" class="d-none">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}