html {
    height:100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}

#message {
    top: 0;
    left: 0;
    width: 100%;
}

#inner-message {
    margin: 10px;
}

.navbar ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar li {
    margin-bottom: 0;
    padding-bottom: 0;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .navbar .collapse.show #signup-collapsed {
        display:block;
    }
}

@media (min-width: 992px) {
    .navbar .collapse #signup-collapsed {
        display:none;
    }
}